<div class="container">    
    <div class="row d-flex justify-content-center">

        <div class="col-xs-2 col-sm-4 col-md-4 col-lg-2">
            <img src="../../../assets/doge.jpg" class="img img-thumbnail" id=fotoperfil>
        </div>

        <div class="col-xs-2 col-sm-8 col-md-3 col-lg-2">
            <p id=nombre>Villalba, Rodrigo</p>
            <p id=titulo>Full Stack Developer Jr.</p>
        </div>

        <div class="col-xs-8 col-sm-12 col-md-5 col-lg-6">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quam autem est mollitia quis inventore sit doloribus eos quas nemo beatae debitis esse laborum odit, cupiditate facere reprehenderit dolor aut.</p>
            </span>
        </div>

    </div>
</div>