<div class="container">    
    <div class="row d-flex justify-content-center">

        <div class="col-xs-2 col-sm-4 col-md-4 col-lg-2">
            <img src="../../../assets/doge.jpg" class="img img-thumbnail" id=fotoperfil>
        </div>

        <div class="col-xs-2 col-sm-8 col-md-3 col-lg-2">
            <p id=nombre>Villalba, Rodrigo</p>
            <p id=titulo>Full Stack Developer Jr.</p>
        </div>

        <div class="col-xs-8 col-sm-12 col-md-5 col-lg-6">
            <span>
                <h1>Acerca de mí</h1>
                <p>
                Estudiante autodidacta de desarrollo web.
                <br>
                Argentino, 29 años.
                <br>
                Estudio en mi tiempo libre, actualmente me interesa el desarrollo web. Como hobby, practico 'pixelart', y pronto empezaré a experimentar con Blender.
                </p>
            </span>
        </div>

    </div>
</div>