<div class="container col-xs-12 col-sm-12 col-md-7 col-lg-12" style="margin: auto;">
  <div class="row d-flex justify-content-center">
      <h2 class="d-flex justify-content-center">Experiencia laboral:</h2>

          <div class="card text-bg-light p-3">
              <div class="card-body">
                <h5 class="card-title">Operador de Pago Fácil y Western Union</h5>
                <h6 class="card-subtitle mb-2 text-muted">Julio 2022 - Actualidad</h6>
                <p class="card-text">Atención al cliente, responsable de caja, resolución de problemas.</p>
                <a href="#" type="button" class="card-link btn btn-primary">Referencias:</a>
              </div>
            </div>
  
                <div class="card text-bg-light p-3">
                  <div class="card-body">
                    <h5 class="card-title">Empleado de comercio</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Diciembre 2018 - Actualidad</h6>
                    <p class="card-text">Encargado de local, encargado de caja, atención al público, pedidos y stock.</p>
                    <a href="#" type="button" class="card-link btn btn-primary">Referencias:</a>
                  </div>
                </div>
  
              <div class="card text-bg-light p-3">
                <div class="card-body">
                  <h5 class="card-title">Recepcionista de hotel</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Verano 2017-2018</h6>
                  <p class="card-text">Recepción, check-in y check-out, gestión de habitaciones.</p>
                  <a href="#" type="button" class="card-link btn btn-primary">Card link</a>
                </div>
              </div>
  </div>
</div>