.about {
    max-width: 700px;
}

.container {
    margin-top: 20px;
}


img {
    border-radius: 15px 30px;
    width: 200px;
    height: 200px;
}

h1, h2, h3, h4, h5, h6, .nombre {
    color: #0c56a6;
}