<div class="container about">
  <div class="text-center p-1">
    <p class="fs-1 text-uppercase">
      {{ persona.nombre }} {{ persona.apellido }}
    </p>
    <h4 id="titulo" class="mb-4">Full Stack Developer Jr.</h4>
  </div>

  <div class="d-flex shadow rounded-5 align-items-center mb-3">
    <div class="flex-shrink-0">
      <img
        src="{{ persona.img }}"
        alt="Foto de perfil"
        class="img img-thumbnail"
      />
    </div>

    <div class="container">
      <div class="col d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-primary"
          *ngIf="isLogged"
          routerLink="/editaboutme/4"
        >
          <i class="fa fa-pen-to-square fa-bounce text-light"></i>
          Editar "Acerca de"
        </button>
      </div>

      <div>
        <p class="text-justify">
          {{ persona.aboutme }}
        </p>
      </div>
    </div>
  </div>
</div>
