<div class="container">
  <div class="row">
    <h2 class="d-flex justify-content-center text-uppercase">Formación:</h2>
  </div>

  <div class="card text-bg-light p-2 border border-4 shadow rounded-4">
    <button
      type="button"
      class="btn btn-primary"
      routerLink="/nuevaeduca"
      *ngIf="isLogged"
    >
      Añadir educación
    </button>

    <div
      class="card-body justify-content-between"
      *ngFor="let Educacion of educa"
    >
      <img
        [src]="Educacion.imgEdu"
        class="rounded logo float-end rounded-5"
        alt="{{ Educacion.altImgEdu }}"
      />

      <h5 class="card-title">
        {{ Educacion.tituloEdu }}
      </h5>

      <h6 class="card-subtitle mb-2 text-muted">{{ Educacion.fechaEdu }}</h6>
      <p class="card-text">{{ Educacion.descripcionEdu }}</p>
      <div class="container d-flex justify-content-between">
        <button
          class="btn btn-primary"
          *ngIf="isLogged"
          routerLink="/editeduca/{{ Educacion.id }}"
        >
          <i class="fa-solid fa-pencil"></i> Editar
        </button>

        <button
          class="btn btn-danger"
          (click)="delete(Educacion.id)"
          *ngIf="isLogged"
        >
          <i class="fa-regular fa-trash-can"></i> Borrar
        </button>
      </div>

      <hr />
    </div>
  </div>
</div>
