<div class="d-flex justify-content-center">
  <div class="container">
    <h2 class="d-flex justify-content-center text-uppercase mb-3">
      Educación:
    </h2>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button
            class="accordion-button ac-btn1 text-uppercase"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne"
          >
            #Argentina Programa
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="panelsStayOpen-headingOne"
        >
          <div class="accordion-body bg-light border border-4">
            Curso digital asincrónico organizado por el Ministerio de Desarrollo
            Productivo de Argentina, y certificado por la Cámara Argentina de la
            Industria del Software (CESSI). Nociones básicas sobre: -
            Fundamentos de programación, - POO, - Competencias Full-Stack Jr.
            (HTML, CSS, JS, Java).
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button
            class="accordion-button ac-btn1 collapsed btn text-uppercase"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseTwo"
          >
            Otros cursos relevantes:
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingTwo"
        >
          <div class="accordion-body bg-light border border-4">
            - UTN: Fundamentos de la programación (Curso virtual destinado a
            enseñar las bases de la programación)
            <a
              href="https://sceu.frba.utn.edu.ar/e-learning/detalle/curso/338/fundamentos-de-la-programacion?id=999188123"
              target="_blank"
              >Sitio web</a
            >
            <hr />
            - Inglés nivel B2.
            <a
              href="https://sites.google.com/view/li-fh-unmdp/sobre-nosotros"
              target="_blank"
              >Sitio web de la institución</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
