.container{
    margin-left: 1em;
}

.row {
    padding-left:5em;
    padding-right: 5em;
}

.card {
    margin: 1em;
}

.ac-btn1 {
    background-color:#0c56a6af;
    color: rgb(240, 240, 240);
    font-weight: bold;
}

.accordion-item {
    border-color: black;
}