<app-header></app-header>
<app-acerca-de></app-acerca-de>

<div class="container mb-4">
  <div class="row">
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-5 p-2"
      data-aos="fade-right"
      data-aos-delay="200"
    >
      <app-educacion></app-educacion>
    </div>

    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-7 p-2"
      data-aos="fade-left"
      data-aos-delay="200"
    >
      <app-experiencia></app-experiencia>
    </div>
  </div>
</div>

<div
  class="skills"
  data-aos="flip-up"
  data-aos-delay="150"
  data-aos-duration="500"
>
  <app-skills></app-skills>
</div>

<app-proyectos></app-proyectos>

<app-footer></app-footer>
