svg {
    margin: 0.1em;
}

.card {
    margin-left: 6px;
    margin-right: 6px;
    width: 13rem;
}

.fa-html5, .text-html {
    color:#e68a34;
}

.text-css {
    color: #5bc0de;
}

.text-boot {
    color:#712cf9;
}

.boot {
    background-color: #712cf9;
}

.resp {
    color:rgb(199, 0, 0);
}

.bgresp {
    background-color:rgb(199, 0, 0);
}