<div class="row">
    <div class="col-2">
        <circle-progress
            [percent]="48"
            [radius]="70"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#69b865'"
            [innerStrokeColor]="'#328fa8'"
            [showSubtitle]="false"
            title="HTML"
            [showUnits]=false
            >
        </circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="27"
            [radius]="70"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#95bf93'"
            [innerStrokeColor]="'#328fa8'"
            [showUnits]=false
            [showSubtitle]="false"
            title="JS">
        </circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="55"
            [radius]="70"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#69b865'"
            [innerStrokeColor]="'#328fa8'"
            [showUnits]=false
            [showSubtitle]="false"
            title="CSS">
        </circle-progress>
    </div>

    <div class="col-2">
        <circle-progress
            [percent]="50"
            [radius]="70"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#69b865'"
            [innerStrokeColor]="'#328fa8'"
            [showUnits]=false
            [showSubtitle]="false"
            title="Angular">
        </circle-progress>
    </div>
</div>