    <div class="row d-flex justify-content-center">
        <h2 class="d-flex justify-content-center">Educación:</h2>
        <div class="card text-bg-light p-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Instituto 1</h5>
              <h6 class="card-subtitle mb-2 text-muted">Carrera</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" type="button" class="card-link btn btn-primary">Card link</a>
            </div>
          </div>

                  <div class="card text-bg-light p-3" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Instituto 2</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Carrera</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" type="button" class="card-link btn btn-primary">Card link</a>
                    </div>
                  </div>

                  <div class="card text-bg-light p-3" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Instituto 3</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Carrera</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" type="button" class="card-link btn btn-primary">Card link</a>
                    </div>
                  </div>
    </div>