<div class="container">
  <div class="row">
    <h2 class="d-flex justify-content-center text-uppercase">
      Experiencia laboral:
    </h2>
  </div>

  <div class="card text-bg-light p-3 border border-4 shadow rounded-4">
    <button
      type="button"
      class="btn btn-primary"
      routerLink="/nuevaexp"
      *ngIf="isLogged"
    >
      Añadir experiencia
    </button>

    <div
      class="card-body justify-content-between"
      *ngFor="let Experiencia of expe"
    >
      <img
        [src]="Experiencia.img"
        class="rounded logo float-end"
        alt="{{ Experiencia.alt }}"
      />
      <h5 class="card-title">
        {{ Experiencia.titulo }}
      </h5>

      <h6 class="card-subtitle mb-2 text-muted">{{ Experiencia.fecha }}</h6>
      <p class="card-text">{{ Experiencia.descripcion }}</p>

      <div class="container d-flex justify-content-between">
        <button
          class="btn btn-primary"
          *ngIf="isLogged"
          routerLink="/editexp/{{ Experiencia.id }}"
        >
          <i class="fa-solid fa-pencil"></i>
          Editar
        </button>

        <button
          class="btn btn-danger"
          (click)="delete(Experiencia.id)"
          *ngIf="isLogged"
        >
          <i class="fa-regular fa-trash-can"></i> Borrar
        </button>
      </div>

      <hr />
    </div>
    <div class="d-flex justify-content-center">
      <p>Para referencias y datos completos:</p>
    </div>
    <div class="d-flex justify-content-center">
      <a
        href="https://drive.google.com/file/d/1FzkTt0dtm1kaMinvdwIuWX8rq4tqIbbI/view?usp=sharing"
        target="_blank"
      >
        <button
          class="btn btn-lg btncv"
          style="color: white; font-weight: bolder"
        >
          <i class="fa-solid fa-arrow-up-right-from-square"></i> VER CURRÍCULUM
        </button>
      </a>
    </div>
  </div>
</div>
