.row {
    padding-left:5em;
    padding-right: 5em;
}

.card {
    margin: 1em;
}

.logo {
    height: 90px;
    width: 90px;
    margin: 0.2em;
}

.btncv {
    background: rgb(0,102,178);
    background: linear-gradient(256deg, rgba(0,102,178,1) 0%, rgba(12,86,166,0.8827906162464986) 97%);
}

h1, h2, h3, h4, h5, h6 {
    color: #0c56a6;
}