<div class="container border p-3 mt-3 bg-light" *ngIf="lang">
  <div class="d-flex justify-content-center">
    <h1>Editar lenguaje:</h1>
  </div>
  <div class="row">
    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="name"></label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="lang.name"
            required
            placeholder="Lenguaje"
          />
        </div>

        <div class="form-group">
          <label for="nivel"></label>
          <textarea
            type="text"
            class="form-control"
            id="nivel"
            name="nivel"
            [(ngModel)]="lang.nivel"
            required
            placeholder="Nivel del lenguaje"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="description"></label>
          <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            [(ngModel)]="lang.description"
            required
            placeholder="Descripción opcional para información extra"
          />
        </div>

        <div class="form-group mt-3">
          <label for="imgLang"></label>
          <input
            type="text"
            [(ngModel)]="lang.imgLang"
            class="form-control"
            id="imgLang"
            name="imgLang"
            placeholder="URL del icono para el lenguaje"
          />
        </div>

        <div class="form-group">
          <label for="altImg"></label>
          <input
            type="text"
            class="form-control"
            id="altImg"
            name="altImg"
            [(ngModel)]="lang.altImg"
            required
            placeholder="Texto alternativo para imágenes (accesibilidad)"
          />
        </div>

        <div class="d-flex justify-content-between mt-5">
          <button class="btn btn-primary mt-3">Confirmar cambios</button>
        </div>
      </form>
      <a href=""
        ><button class="btn btn-dark mt-3">Cancelar cambios y volver</button></a
      >
    </div>
  </div>
</div>
